.main-nav {
  @include m-s12-h16;
  text-transform: uppercase;
  z-index: 10;
  background-color: $b-white;

  @include mobile {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
  }
}

.main-nav__list {
  @include tablet-more {
    display: flex;
    flex-wrap: wrap;
  }

  @include desctop-more {
    gap: 20px;
  }
}

.main-nav__item {
  @include mobile {
    border-bottom: 1px solid $b-secondary;

    &:first-child {
      border-top: 1px solid $b-secondary;
    }
  }
}

.main-nav__link {
  display: block;
  padding: 20px;
  text-align: center;

  &:active {
    background-color: $b-secondary;
  }

  @include mobile {
    width: 280px;
    margin: 0 auto;
  }

  @include tablet-more {
    padding-top: 32px;
    padding-bottom: 32px;

    &:hover,
    &:focus {
      color: $b-primary;
    }

    &--opened {
      padding-bottom: 30px;
      color: $b-primary;
      border-bottom: 2px solid $b-primary;
    }
  }
}
