@mixin typography_template($font-size, $line-height, $font-weight: 400) {
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: $font-size;
  font-weight: $font-weight;
  font-style: normal;
  line-height: $line-height;
}

@mixin r-s12-h16 {
  @include typography_template(12px, 16px);
}

@mixin r-s13-h24 {
  @include typography_template(13px, 24px);
}

@mixin r-s14-h20 {
  @include typography_template(14px, 20px);
}

@mixin r-s14-h24 {
  @include typography_template(14px, 24px);
}

@mixin r-s16-h24 {
  @include typography_template(16px, 24px);
}

@mixin r-s16-h32 {
  @include typography_template(16px, 32px);
}

@mixin r-s20-h32 {
  @include typography_template(20px, 32px);
}

@mixin m-s12-h16 {
  @include typography_template(12px, 16px, 500);
}

@mixin m-s16-h24 {
  @include typography_template(16px, 24px, 500);
}

@mixin s-s16-h24 {
  @include typography_template(16px, 24px, 600);
}

@mixin s-s20-h32 {
  @include typography_template(20px, 32px, 600);
}

@mixin b-s12-h16 {
  @include typography_template(12px, 16px, 700);
}

@mixin b-s14-h20 {
  @include typography_template(14px, 20px, 700);
}

@mixin b-s18-h32 {
  @include typography_template(18px, 32px, 700);
}

@mixin b-s24-h36 {
  @include typography_template(24px, 36px, 700);
}

@mixin b-s36-h48 {
  @include typography_template(36px, 48px, 700);
}

@mixin b-s42-h64 {
  @include typography_template(42px, 64px, 700);
}

@mixin b-s56-h80 {
  @include typography_template(56px, 80px, 700);
}

