/* COLORS */

$b-white: #ffffff;
$b-grey: #bdbdbd;
$b-black: #333333;
$b-primary: #7859cf;
$b-secondary: #f0ebff;

$p-opac: rgba(120, 89, 207, 0.25);
$p-lighter: #9070ec;
$p-darker: #593cac;
$light-grey: #e2e2e2;

$lightest-grey: #f8f8f8;
$flat-white: #f3ebe1;
$lavender-latte: #eae6fc;
$espresso: #e5e6e8;
